data/
venv/

# cache
**/__pycache__/
# vim
*~
*.swp

# LaTex files
*.aux
*.fdb_latexmk
*.fls
*.out
*.gz
*.toc
*.log
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.

# Specific files
milano-study/milano_study_v0.ipynb